<%= form_with(model: [book_detail, book_comment], remote: true) do |f| %>
    <div class="col-xs-11">
    	<%= f.text_area :comment, rows:'5', class: "form-control", placeholder: "コメント", id: 'textarea' %>
    </div>
    <div class="col-xs-1 d-flex">
  		<%= f.submit "送信", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
  	</div>
<% end %>